.collapsed {
  max-height: 100;
  overflow: hidden;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

  body {
  background: #b8bfb8 ;
  font: "Helvetica"
}

h1 {
  text-align: center;
}

#saved-recipes {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
  }
  
#saved-recipes img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
    /* use the border to toggle? */
    border: 5px solid rgb(0, 0, 0);  
    }

#saved-recipes img:last-child {
    margin-right: 0;
}

#drink-name {
  font-size: larger;
  font-weight: bold;
}


/* 
#checkboxes1 {
  columns: 7;
}

#checkboxes2 {
  columns: 6;
}

#checkboxes3 {
  columns: 8;
}
#checkboxes4 {
  columns: 7;
}

#checkboxes5 {
  columns: 3;
} */

button, [type="submit"] {
  cursor: pointer;